version: "3.9"

services:
  db:
    image: postgres:15
    container_name: youva-postgres
    restart: always
    environment:
      POSTGRES_USER: youva
      POSTGRES_PASSWORD: youva123
      POSTGRES_DB: youva_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: youva-api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data: